@page
@model CalculatorModel
@{
    ViewData["Title"] = "Calculator";
    Layout = "Shared/_LayoutUser";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div class="container d-flex flex-row">
        <div class="col-6">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Płeć</label>
                    <select class="custom-select col-sm-3 form-control Sex">
                        <option>Kobieta</option>
                        <option>Mężczyzna</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Wiek</label>
                    <input type="text" class="col-sm-3 form-control Age" placeholder="Twój wiek" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Wzrost</label>
                    <input type="text" class="col-sm-3 form-control Height" value=@Model.userHeight />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Waga</label>
                    <input type="text" class="col-sm-3 form-control Weight" value=@Model.userWeight />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Aktywność</label>
                    <select class="custom-select col-sm-6 form-control Activity">
                        <option>Brak aktywności, praca siedząca</option>
                        <option>Niska aktywność, praca siedząca i 1/2 treningi w tygodniu</option>
                        <option>Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu</option>
                        <option>Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cel</label>
                    <select class="custom-select col-sm-4 form-control Goal">
                        <option>Utrzymanie wagi</option>
                        <option>Zwiększenie masy mięśniowej</option>
                        <option>Redukcja tkanki tłuszczowej</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="container-login100-form-btn col-sm-2">
                        <button type="button" id="btn" class="submit btn btn-info pull-right">Oblicz</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form method="post">
                <div class="form-group row">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" id="Kcal">Kcal</label>
                        <input class="col-sm-4 form-control Kcal" readonly type="text" name="Kcal" id="Kcal" placeholder=@Model.userKcal>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" id="Protein">Białko</label>
                        <input class="col-sm-4 form-control Protein" readonly type="text" name="Protein" id="Protein" placeholder=@Model.userProtein>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" id="Carbs">Węglowodany</label>
                        <input class="col-sm-4 form-control Carbs" readonly type="text" name="Carbs" id="Carbs" placeholder=@Model.userCarbs>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" id="Fats">Tłuszcze</label>
                        <input class="col-sm-4 form-control Fats" readonly type="text" name="Fats" id="Fats" placeholder=@Model.userFats>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Przypisać te dane do Twojego zapotrzebowania?</label>
                    <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">Tak</button>
                </div>
            </form>
        </div>
    </div>

    <script>

    var Sex = document.getElementsByClassName("Sex")[0];
    var Age = document.getElementsByClassName("Age")[0];
    var Height = document.getElementsByClassName('Height')[0];
    var Weight = document.getElementsByClassName('Weight')[0];
    var Activity = document.getElementsByClassName('Activity')[0];
    var Goal = document.getElementsByClassName('Goal')[0];
    var Kcal = document.getElementsByClassName('Kcal')[0];
    var Protein = document.getElementsByClassName('Protein')[0];
    var Carbs = document.getElementsByClassName('Carbs')[0];
    var Fats = document.getElementsByClassName('Fats')[0];
    var btn = document.getElementsByClassName('btn')[0];
    var multiplier;
    var BasalMetabolicRate;
    var TotalMetabolicRate;
    var TotalCaloricRate;
    var Protein_needed;
    var Carbs_needed;
    var Fats_needed;

    var additional_calories;

    const Activity_types = [
        "Brak aktywności, praca siedząca",
        "Niska aktywność, praca siedząca i 1/2 treningi w tygodniu",
        "Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu",
        "Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu"
    ];

    const Goal_types = [
        "Utrzymanie wagi",
        "Zwiększenie masy mięśniowej",
        "Redukcja tkanki tłuszczowej"
    ];

    btn.addEventListener("click", function () {

        if (Activity.value == Activity_types[0]) {
            multiplier = 1.2;
        }
        else if (Activity.value == Activity_types[1]) {
            multiplier = 1.35;
        }
        else if (Activity.value == Activity_types[2]) {
            multiplier = 1.55;
        }
        else if (Activity.value == Activity_types[3]) {
            multiplier = 1.75;
        }

        if (Goal.value == Goal_types[0]) {
            additional_calories = 0;

        }
        else if (Goal.value == Goal_types[1]) {
            additional_calories = 300;

        }
        else if (Goal.value == Goal_types[2]) {
            additional_calories = -300;

        }

        if (Sex.value == "Kobieta") {
            BasalMetabolicRate = 655 + (9.6 * Weight.value) + (1.8 * Height.value) - (4.7 * Age.value);
        }
        else if (Sex.value == "Mężczyzna") {
            BasalMetabolicRate = 66 + (13.7 * Weight.value) + (5 * Height.value) - (6.76 * Age.value);
        };

        TotalMetabolicRate = BasalMetabolicRate * multiplier;
        TotalCaloricRate = TotalMetabolicRate + additional_calories;

        Protein_needed = Weight.value * 2;
        Fats_needed= Math.round((TotalCaloricRate * 0.25) / 9);
        Carbs_needed = Math.round((TotalCaloricRate - (Protein_needed * 4) - (Fats_needed * 9)) / 4);
        console.log(Sex.value);
        console.log(Age.value);
        console.log(Height.value);
        console.log(Weight.value);
        Kcal.value = Math.round(TotalCaloricRate);
        Protein.value = Protein_needed;
        Carbs.value = Carbs_needed;
        Fats.value = Fats_needed;
    });

    </script>
</body>
</html>
