<div class="d-flex flex-row">
    <div class="p-2 w-50">
        <form>
            <div class="form-group">
                <label id="Sex">Płeć</label>
                <select class="form-control Sex">
                    <option>Kobieta</option>
                    <option>Mężczyzna</option>
                </select>
            </div>
            <div class="form-group">
                <label id="Age">Wiek</label>
                <input type="text" class="form-control Age" placeholder="Twój wiek" />
            </div>
            <div class="form-group">
                <label id="Height">Wzrost</label>
                <input type="text" class="form-control Height" placeholder="Twój wzrost" />
            </div>
            <div class="form-group">
                <label id="Weight">Waga</label>
                <input type="text" class="form-control Weight" placeholder="Twoja waga" />
            </div>
            <div class="form-group">
                <label id="Activity">Aktywność fizyczna</label>
                <select class="form-control Activity">
                    <option>Brak aktywności, praca siedząca</option>
                    <option>Niska aktywność, praca siedząca i 1/2 treningi w tygodniu</option>
                    <option>Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu</option>
                    <option>Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu</option>
                </select>
            </div>
            <div class="form-group">
                <label id="Goal">Cel</label>
                <select class="form-control Goal">
                    <option>Utrzymanie wagi</option>
                    <option>Zwiększenie masy mięśniowej</option>
                    <option>Redukcja tkanki tłuszczowej</option>
                </select>
            </div>
            <div class="container-login100-form-btn p-t-10">
                <button type="submit" id="btn" class="submit btn btn-info pull-right">Oblicz</button>
            </div>
        </form>
    </div>
</div>
