@page
@model FODMATE.ResultsChoiceModel
@{
    ViewData["Title"] = "ResultsChoice";
    Layout = "Shared/_LayoutUser";
}

<h1>ResultsChoice</h1>
<form asp-page="ResultsChoice" method="post">
    <input type="submit" name="ResultsGym" value="ResultsGym" />
    <input type="submit" name="ResultsBody" value="ResultsBody" />
</form>
