@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResultsBodyModel
@{
    ViewData["Title"] = "Measurements";
    Layout = "Shared/_LayoutUser";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div class="container d-flex flex-column">
        <form method="post">
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Data</label>
                <select class="custom-select col-sm-2 form-control Day" name="Day">
                    @for (var x = 1; x <= 31; x++)
                    {
                        <option>@x</option>
                    }
                </select>
                <select class="custom-select col-sm-2 form-control Month" name="Month">
                    <option>Styczeń</option>
                    <option>Luty</option>
                    <option>Marzec</option>
                    <option>Kwiecień</option>
                    <option>Maj</option>
                    <option>Czerwiec</option>
                    <option>Lipiec</option>
                    <option>Sierpień</option>
                    <option>Wrzesień</option>
                    <option>Październik</option>
                    <option>Listopad</option>
                    <option>Grudzień</option>
                </select>
                <select class="custom-select col-sm-2 form-control Year" name="Year">
                    @for (var x = 2020; x >= 1901; x--)
                    {
                        <option>@x</option>
                    }
                </select>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Lewa łydka</label>
                <input type="text" class="col-sm-2 form-control" name="LeftCalve" value=@Model.leftCalve />
                <label class="col-sm-2 col-form-label">Prawa łydka</label>
                <input type="text" class="col-sm-2 form-control" name="RightCalve" value=@Model.rightCalve />
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Lewe udo</label>
                <input type="text" class="col-sm-2 form-control" name="LeftThigh" value=@Model.leftThigh />
                <label class="col-sm-2 col-form-label">Prawe udo</label>
                <input type="text" class="col-sm-2 form-control" name="RightThigh" value=@Model.rightThigh />
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Pośladki</label>
                <input type="text" class="col-sm-2 form-control" name="Butt" value=@Model.butt />
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Pas</label>
                <input type="text" class="col-sm-2 form-control" name="Waist" value=@Model.waist />
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Klatka piersiowa</label>
                <input type="text" class="col-sm-2 form-control" name="Chest" value=@Model.chest />
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Lewe ramię</label>
                <input type="text" class="col-sm-2 form-control" name="LeftArm" value=@Model.leftArm />
                <label class="col-sm-2 col-form-label">Prawe ramię</label>
                <input type="text" class="col-sm-2 form-control" name="RightArm" value=@Model.rightArm />
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Lewe przedramię</label>
                <input type="text" class="col-sm-2 form-control" name="LeftForearm" value=@Model.leftForearm />
                <label class="col-sm-2 col-form-label">Prawe przedramię</label>
                <input type="text" class="col-sm-2 form-control" name="RightForearm" value=@Model.rightForearm />
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Waga</label>
                <input type="text" class="col-sm-2 form-control" name="UserWeight" value=@Model.userWeight />
            </div>
            <div class="form-group row justify-content-center">
                <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">TAK</button>
            </div>
        </form>
    </div>
</body>
</html>
