@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResultsBodyModel
@{
    ViewData["Title"] = "Measurements";
    Layout = "Shared/_LayoutUser";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div class="form-group row">
        <div class="p-2 w-50">
            <form method="post">
                <div class="form-group">
                    <label id="Day">Data</label>
                    <select class="form-control Day" name="Day">
                        @for (var x = 1; x <= 31; x++)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label id="Month">Month</label>
                    <select class="form-control Month" name="Month">
                        <option>Styczeń</option>
                        <option>Luty</option>
                        <option>Marzec</option>
                        <option>Kwiecień</option>
                        <option>Maj</option>
                        <option>Czerwiec</option>
                        <option>Lipiec</option>
                        <option>Sierpień</option>
                        <option>Wrzesień</option>
                        <option>Październik</option>
                        <option>Listopad</option>
                        <option>Grudzień</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="Year">Data</label>
                    <select class="form-control Year" name="Year">
                        @for (var x = 2020; x >= 1901; x--)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label id="LeftCalve">LeftCalve</label>
                    <input type="text" class="form-control LeftCalve" name="LeftCalve" value=@Model.leftCalve />
                </div>
                <div class="form-group">
                    <label id="RightCalve">RightCalve</label>
                    <input type="text" class="form-control RightCalve" name="RightCalve" value=@Model.rightCalve />
                </div>
                <div class="form-group">
                    <label id="LeftThigh">LeftThigh</label>
                    <input type="text" class="form-control LeftThigh" name="LeftThigh" value=@Model.leftThigh />
                </div>
                <div class="form-group">
                    <label id="RightThigh">RightThigh</label>
                    <input type="text" class="form-control RightThigh" name="RightThigh" value=@Model.rightThigh />
                </div>
                <div class="form-group">
                    <label id="Butt">Butt</label>
                    <input type="text" class="form-control Butt" name="Butt" value=@Model.butt />
                </div>
                <div class="form-group">
                    <label id="Waist">Waist</label>
                    <input type="text" class="form-control Waist" name="Waist" value=@Model.waist />
                </div>
                <div class="form-group">
                    <label id="Chest">Chest</label>
                    <input type="text" class="form-control Chest" name="Chest" value=@Model.chest />
                </div>
                <div class="form-group">
                    <label id="LeftArm">LeftArm</label>
                    <input type="text" class="form-control LeftArm" name="LeftArm" value=@Model.leftArm />
                </div>
                <div class="form-group">
                    <label id="RightArm">RightArm</label>
                    <input type="text" class="form-control RightArm" name="RightArm" value=@Model.rightArm />
                </div>
                <div class="form-group">
                    <label id="LeftForearm">LeftForearm</label>
                    <input type="text" class="form-control LeftForearm" name="LeftForearm" value=@Model.leftForearm />
                </div>
                <div class="form-group">
                    <label id="RightForearm">RightForearm</label>
                    <input type="text" class="form-control RightForearm" name="RightForearm" value=@Model.rightForearm />
                </div>
                <div class="form-group">
                    <label id="UserWeight">UserWeight</label>
                    <input type="text" class="form-control UserWeight" name="UserWeight" value=@Model.userWeight />
                </div>
                <div class="container-login100-form-btn p-t-10">
                    <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">TAK</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
