@page
@model FoodMateApp.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Products.Category" class="control-label"></label>
                <input asp-for="Products.Category" class="form-control" />
                <span asp-validation-for="Products.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.ProductNameEng" class="control-label"></label>
                <input asp-for="Products.ProductNameEng" class="form-control" />
                <span asp-validation-for="Products.ProductNameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Kcal" class="control-label"></label>
                <input asp-for="Products.Kcal" class="form-control" />
                <span asp-validation-for="Products.Kcal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Protein" class="control-label"></label>
                <input asp-for="Products.Protein" class="form-control" />
                <span asp-validation-for="Products.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Carbs" class="control-label"></label>
                <input asp-for="Products.Carbs" class="form-control" />
                <span asp-validation-for="Products.Carbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Fats" class="control-label"></label>
                <input asp-for="Products.Fats" class="form-control" />
                <span asp-validation-for="Products.Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.ProductNamePl" class="control-label"></label>
                <input asp-for="Products.ProductNamePl" class="form-control" />
                <span asp-validation-for="Products.ProductNamePl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
