@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="bg d-flex flex-column">
    <div class="flex-fill text-center">
        <h1 class="display-1 text-white text-monospace">FOODMATE</h1>
        <p class="font-italic text-white h3">ZACZNĘ <del>OD JUTRA </del></p>
        <p class="font-italic font-weight-bolder text-white h3">DZISIAJ</p>
    </div>
    <div class="h-25 d-flex align-content-center justify-content-center">
        <div class="p-2 m-5 text-center">
            <button type="button" onclick="document.getElementById('login-form').style.display='block'" class="btn btn-success center-block"><p class="font-italic">ZALOGUJ</p></button>
        </div>

        <div id="login-form" class="pop-up-window">
            <span onclick="document.getElementById('login-form').style.display='none'" class="close" title="Close pop-up">&times;</span>
            <form class="d-flex flex-column align-items-center modal-content animate" action="/action_page.php">
                <div class="flex-fill w-100 imgcontainer">
                    <img src="~/img/user.png" alt="Avatar" class="avatar">
                </div>
                <div class="flex-fill w-100 d-flex flex-column justify-content-between form-container">
                    <div class="flex-fill text-center">
                        <label for="uname"><b>Login</b></label>
                        <input type="text" placeholder="wprowadź login" name="uname" required>
                    </div>
                    <div class="flex-fill text-center">
                        <label for="psw"><b>Hasło</b></label>
                        <input type="password" placeholder="*********" name="psw" required>
                    </div>
                    <div class="flex-fill text-center">
                        <button class="button" type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                    <div class="row-form container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('login-form').style.display='none'" class="cancelbtn">Cancel</button>
                        <span class="psw"><a href="#">Forgot password?</a></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="p-2 m-5 text-center">
            <button type="button" onclick="document.getElementById('register-form').style.display='block'" class="btn btn-info center-block"><p class="font-italic">ZAREJESTRUJ</p></button>
        </div>
        <div id="register-form" class="pop-up-window">
            <span onclick="document.getElementById('register-form').style.display='none'" class="close" title="Close pop-up">&times;</span>
            <form class="modal-content animate" action="/action_page.php">
                <div class="container p-4 justify-content form-container">
                    <div class="row justify-content-center">
                        <h2><b>Zarejestruj się</b></h2>
                    </div>
                    <div class="row align-items-center text-center">
                        <label class="col-4" for="uname"><b>Login</b></label>
                        <input class="col-8" type="text" placeholder="wprowadź login" name="uname" required>
                    </div>
                    <div class="row align-items-center text-center">
                        <label class="col-4" for="uemail"><b>Email</b></label>
                        <input class="col-8" type="text" placeholder="imie@poczta" name="uemail" required>
                    </div>
                    <div class="row align-items-center text-center">
                        <label class="col-4" for="psw"><b>Hasło</b></label>
                        <input class="col-8" type="password" placeholder="*********" name="psw" required>
                    </div>
                    <div class="row align-items-center text-center">
                        <label class="col-4" for="psw-confirm"><b>Potwierdź</b></label>
                        <input class="col-8" type="password" placeholder="*********" name="psw-confirm" required>
                    </div>
                    <div class="row align-items-center text-center">
                        <button class="button col" type="submit">Rejestruj mnie</button>
                        <label>
                            <input class="col" type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                    <div class="row align-items-center" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('login-form').style.display='none'" class="cancelbtn">Anuluj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="h-25">

    </div>
</div>

<script>
    // Get the modal
    var login_modal = document.getElementById('login-form');
    var register_modal = document.getElementById('register-form');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == login_modal) {
            login_modal.style.display = "none";
        }
        else if (event.target == register_modal) {
            register_modal.style.display = "none";
        }
    }
</script>
