<div class="text-center">
    <button type="button" class="btn btn-success">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">LOGIN</a>
    </button>
    <button type="button" class="btn btn-danger">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">REGISTER</a>
    </button>
</div>
