@*@model foodmateapp.Controllers.AccountController.DataToCalc

    <div class="d-flex flex-row">
            <div class="p-2 w-50">
                <form  method="post">
                    <div class="form-group">
                        <label asp-for="Sex">Płeć</label>
                        <select class="form-control" asp-for="Sex">
                            <option>Kobieta</option>
                            <option>Mężczyzna</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age">Wiek</label>
                        <input type="text" class="form-control" asp-for="Age" placeholder="Twój wiek" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Height">Wzrost</label>
                        <input type="text" class="form-control" asp-for="Height" placeholder="Twój wzrost" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight">Waga</label>
                        <input type="text" class="form-control" asp-for="Weight" placeholder="Twoja waga" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Activity">Aktywność fizyczna</label>
                        <select class="form-control" asp-for="Activity">
                            <option>Brak aktywności, praca siedząca</option>
                            <option>Niska aktywność, praca siedząca i 1/2 treningi w tygodniu</option>
                            <option>Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu</option>
                            <option>Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Goal">Cel</label>
                        <select class="form-control" asp-for="Goal">
                            <option>Utrzymanie wagi</option>
                            <option>Zwiększenie masy mięśniowej</option>
                            <option>Redukcja tkanki tłuszczowej</option>
                        </select>
                    </div>
                    <div class="container-login100-form-btn p-t-10">
                        <button type="submit" class="btn btn-info pull-right">Oblicz</button>
                    </div>
                </form>
            </div>
            <div class="p-2 w-50">
                <form>
                    <div class="form-group row">
                        <label asp-for="Kcal" class="col-sm-2 col-form-label">Kcal</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="Kcal" value="@ViewBag.CZK" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Protein" class="col-sm-2 col-form-label">Białko</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="Protein" value="xxx kcal" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Carbs" class="col-sm-2 col-form-label">Węglowodany</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="Carbs" value="xxx kcal" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Fats" class="col-sm-2 col-form-label">Tłuszcze</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control-plaintext" asp-for="Fats" value="xxx kcal" />
                        </div>
                    </div>
                </form>
            </div>
        </div>*@

<div class="d-flex flex-row">
    <div class="p-2 w-50">
        <form>
            <div class="form-group">
                <label id="Sex">Płeć</label>
                <select class="form-control Sex">
                    <option>Kobieta</option>
                    <option>Mężczyzna</option>
                </select>
            </div>
            <div class="form-group">
                <label id="Age">Wiek</label>
                <input type="text" class="form-control Age"placeholder="Twój wiek" />
            </div>
            <div class="form-group">
                <label id="Height">Wzrost</label>
                <input type="text" class="form-control Height" placeholder="Twój wzrost" />
            </div>
            <div class="form-group">
                <label id="Weight">Waga</label>
                <input type="text" class="form-control Weight"placeholder="Twoja waga" />
            </div>
            <div class="form-group">
                <label id="Activity">Aktywność fizyczna</label>
                <select class="form-control Activity">
                    <option>Brak aktywności, praca siedząca</option>
                    <option>Niska aktywność, praca siedząca i 1/2 treningi w tygodniu</option>
                    <option>Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu</option>
                    <option>Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu</option>
                </select>
            </div>
            <div class="form-group">
                <label id="Goal">Cel</label>
                <select class="form-control Goal">
                    <option>Utrzymanie wagi</option>
                    <option>Zwiększenie masy mięśniowej</option>
                    <option>Redukcja tkanki tłuszczowej</option>
                </select>
            </div>
            <div class="container-login100-form-btn p-t-10">
                <button type="button" id="btn"class="submit btn btn-info pull-right">Oblicz</button>
            </div>
        </form>
    </div>
    <div class="p-2 w-50">
        <form method="post" action="UpdateUserMacros">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" id="Kcal">Kcal</label>
                <div class="col-sm-8">
                    <input class="input100 Kcal" readonly type="text" name="Kcal" id="Kcal" placeholder="Kcal">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" id="Protein">Białko</label>
                <div class="col-sm-8">
                    <input class="input100 Protein" readonly type="text" name="Protein" id="Protein" placeholder="g">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" id="Carbs">Węglowodany</label>
                <div class="col-sm-8">
                    <input class="input100 Carbs" readonly type="text" name="Carbs" id="Carbs" placeholder="g">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" id="Fats">Tłuszcze</label>
                <div class="col-sm-8">
                    <input class="input100 Fats" readonly type="text" name="Fats" id="Fats" placeholder="g">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Przypisać te dane do Twojego zapotrzebowania?</label>
                <div class="col-sm-8">
                    <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">Tak</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    var Sex = document.getElementsByClassName("Sex")[0];
    var Age = document.getElementsByClassName("Age")[0];
    var Height = document.getElementsByClassName('Height')[0];
    var Weight = document.getElementsByClassName('Weight')[0];
    var Activity = document.getElementsByClassName('Activity')[0];
    var Goal = document.getElementsByClassName('Goal')[0];
    var Kcal = document.getElementsByClassName('Kcal')[0];
    var Protein = document.getElementsByClassName('Protein')[0];
    var Carbs = document.getElementsByClassName('Carbs')[0];
    var Fats = document.getElementsByClassName('Fats')[0];
    var btn = document.getElementsByClassName('btn')[0];
    var multiplier;
    var BasalMetabolicRate;
    var TotalMetabolicRate;
    var TotalCaloricRate;
    var Protein_needed;
    var Carbs_needed;
    var Fats_needed;

    var additional_calories;

    const Activity_types = [
        "Brak aktywności, praca siedząca",
        "Niska aktywność, praca siedząca i 1/2 treningi w tygodniu",
        "Średnia aktywność, praca siedząca i 3/4 treningi w tygodniu",
        "Wysoka aktywność, praca fizyczna i 3/4 treningi w tygodniu"
    ];

    const Goal_types = [
        "Utrzymanie wagi",
        "Zwiększenie masy mięśniowej",
        "Redukcja tkanki tłuszczowej"
    ];

    btn.addEventListener("click", function () {

        if (Activity.value == Activity_types[0]) {
            multiplier = 1.2;
        }
        else if (Activity.value == Activity_types[1]) {
            multiplier = 1.35;
        }
        else if (Activity.value == Activity_types[2]) {
            multiplier = 1.55;
        }
        else if (Activity.value == Activity_types[3]) {
            multiplier = 1.75;
        }

        if (Goal.value == Goal_types[0]) {
            additional_calories = 0;

        }
        else if (Goal.value == Goal_types[1]) {
            additional_calories = 300;

        }
        else if (Goal.value == Goal_types[2]) {
            additional_calories = -300;

        }

        if (Sex.value == "Kobieta") {
            BasalMetabolicRate = 655 + (9.6 * Weight.value) + (1.8 * Height.value) - (4.7 * Age.value);
        }
        else if (Sex.value == "Mężczyzna") {
            BasalMetabolicRate = 66 + (13.7 * Weight.value) + (5 * Height.value) - (6.76 * Age.value);
        };

        TotalMetabolicRate = BasalMetabolicRate * multiplier;
        TotalCaloricRate = TotalMetabolicRate + additional_calories;

        Protein_needed = Weight.value * 2;
        Fats_needed= Math.round((TotalCaloricRate * 0.25) / 9);
        Carbs_needed = Math.round((TotalCaloricRate - (Protein_needed * 4) - (Fats_needed * 9)) / 4);

        Kcal.value = Math.round(TotalCaloricRate);
        Protein.value = Protein_needed;
        Carbs.value = Carbs_needed;
        Fats.value = Fats_needed;
    });

</script>