@page
@model FOODMATE.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Dzięki nam staniesz się lepszą wersją siebie!</h1>
<form asp-page="Index" method="post">
    <input type="submit" name="Login" value="Login" />
    <input type="submit" name="Register" value="Register" />
</form>

