@page
@model FODMATE.DietInsertModel
@{
    ViewData["Title"] = "DietInsert";
    Layout = "Shared/_LayoutUser";
}

<div class="container d-flex flex-column">
    <form method="post">
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label">Produkt</label>
            <input type="text" class="col-sm-3 form-control" name="Product" placeholder="np. Makaron" />
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label">Ilość</label>
            <input type="text" class="col-sm-3 form-control" name="Ammount" placeholder="np. 50g" />
        </div>
        <div class="form-group row justify-content-center">
            <input type="submit" id="submit_btn" class="submit btn btn-info pull-right" name="submit_btn" value="TAK" />
        </div>
        <div class="form-group row justify-content-center">
            <input type="submit" class="submit btn btn-info pull-right" name="return_btn" value="Wróć" />
        </div>
    </form>
</div>