@page
@model FODMATE.ProgressChoiceModel
@{
    ViewData["Title"] = "ProgressChoice";
    Layout = "Shared/_LayoutUser";
}

<h1>ProgressChoice</h1>
<form asp-page="ProgressChoice" method="post">
    <input type="submit" name="ProgressBody" value="ProgressBody" />
    <input type="submit" name="ProgressGym" value="ProgressGym" />
</form>
